body {
  background: #dde203;
  background: linear-gradient(0deg, #dde203 0%, #f8472f 100%); }

.navbar {
  background-color: #f8472f !important;
  padding: 2px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: initial;
  margin-right: 20px; }

.imguno {
  padding: 5px 70px;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-in-out; }
  .imguno:hover {
    transform: scale(1.6); }

.imgdos {
  padding: 5px 20px;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-in-out; }
  .imgdos:hover {
    transform: scale(1.6); }

.texto-nosotros-uno {
  padding: 40px;
  font-size: 40px; }

.texto-nosotros-dos {
  padding: 40px;
  font-size: 40px; }

.texto-nosotros-tres {
  padding: 40px;
  font-size: 40px; }

.texto-donde-estamos1 {
  padding: 40px;
  font-size: 40px; }

.texto-donde-estamos2 {
  padding: 40px;
  font-size: 40px; }

.adelca {
  margin-right: 10px; }

.unidas {
  margin-right: 10px; }

.novacero {
  margin-right: 10px; }

.hormipisos {
  margin-right: 10px; }

.aga {
  margin-right: 10px; }

.stanley {
  margin-right: 10px; }

.sika {
  margin-right: 10px; }

.holcim {
  margin-right: 10px; }

.plastidor {
  margin-right: 10px; }

.accordion {
  padding: 40px; }

.titulomarcas {
  padding: 40px;
  font-size: 40px;
  text-decoration: underline;
  font-family: 'Rubik', sans-serif; }

.tituloh1 {
  padding: 40px;
  font-size: 40px;
  text-decoration: underline;
  font-family: 'Rubik', sans-serif; }

.img-intro {
  grid-area: img-intro;
  display: flex;
  flex-direction: column;
  align-items: center; }

.imgprincipal {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.card-text {
  font-size: 20px; }

.infocontactos {
  padding: 40px;
  font-size: 40px;
  text-decoration: underline;
  font-family: 'Rubik', sans-serif; }

h3 {
  padding: 30px;
  font-size: 30px;
  text-decoration: underline;
  font-family: "Rubik", sans-serif; }

p {
  font-size: 30px;
  padding: 30px;
  margin: 30px; }

.pie-pagina {
  background-color: #dde203;
  text-align: center;
  font-size: 20px; }

.numerostel {
  font-family: "Rubik", sans-serif;
  text-decoration: underline; }

.redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10%;
  font-size: 30px; }
