body {
    background: #dde203;
    background: linear-gradient(0deg, #dde203 0%, #f8472f 100%);
}
.navbar {
    background-color: #f8472f !important;
    padding: 2px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: initial;
    margin-right: 20px;
}
.imguno {
    padding: 5px 70px;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.6);
    }
}
.imgdos {
    padding: 5px 20px;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.6);
    }
}

$paddingtexto: 40px;
$fontsizetexto: 40px;


.texto-nosotros-uno {
    padding: $paddingtexto;
    font-size: $fontsizetexto;
    border-style:dotted;
    border-color: #dde203;
}
.texto-nosotros-dos {
    padding: $paddingtexto;
    font-size: $fontsizetexto;
    border-style: dotted;
    border-color: #dde203;
}
.texto-nosotros-tres {
    padding: $paddingtexto;
    font-size: $fontsizetexto;
    border-style: dotted;
    border-color: #dde203;
}
.texto-donde-estamos1 {
    padding: $paddingtexto;
    font-size: $fontsizetexto;
}
.texto-donde-estamos2 {
    padding: $paddingtexto;
    font-size: $fontsizetexto;
}

$margintarjetas: 10px;

.adelca {
    margin-right: $margintarjetas;
}
.unidas {
    margin-right: $margintarjetas;
}
.novacero {
    margin-right: $margintarjetas;
}
.hormipisos {
    margin-right: $margintarjetas;
}
.aga {
    margin-right: $margintarjetas;
}
.stanley {
    margin-right: $margintarjetas;
}
.sika {
    margin-right: $margintarjetas;
}
.holcim {
    margin-right: $margintarjetas;
}
.plastidor {
    margin-right: $margintarjetas;
}

.accordion {
    padding: $paddingtexto;
}
.titulomarcas {
    padding: $paddingtexto;
    font-size: $fontsizetexto;
    text-decoration: underline;
    font-family: 'Rubik', sans-serif;
}
.tituloh1 {
    padding: $paddingtexto;
    font-size: $fontsizetexto;
    text-decoration: underline;
    font-family: 'Rubik', sans-serif;
}
@mixin img-intro-flex-column-center{
    grid-area: img-intro;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.img-intro {
    @include img-intro-flex-column-center;
}
@mixin block-auto-auto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.imgprincipal {
    @include block-auto-auto;
    padding-bottom: 40px;
}
.imgprincipal2 {
    @include block-auto-auto;
}

$fontsizecard: 20px;
.card-text {
    font-size: $fontsizecard;
}

.infocontactos {
    padding: $paddingtexto;
    font-size: $fontsizetexto;
    text-decoration: underline;
    font-family: 'Rubik', sans-serif;
}



$paddingh3: 30px;
$fontsizeh3: 30px;
$textdecoh3: underline;
$fontfamilyh3: 'Rubik', sans-serif;


h3 {
    padding: $paddingh3;
    font-size: $fontsizeh3;
    text-decoration: $textdecoh3;
    font-family: $fontfamilyh3;
}

$fontsizep: 30px;
$paddingp: 30px;
$marginp: 30px;

p {
    font-size: $fontsizep;
    padding: $paddingp;
    margin: $marginp;
}

$colorpiepagina: #dde203;
$textpiepagina: center;
$fontsizepiepagina: 20px;

.pie-pagina {
    background-color: $colorpiepagina;
    text-align: $textpiepagina;
    font-size: $fontsizepiepagina;
}


.numerostel {
    font-family: $fontfamilyh3;
    text-decoration: $textdecoh3;
}


$displayredes: flex;
$flex-direcredes: row;
$justiredes: space-around;
$paddingredes: 10%;
$fontsizeredes: 30px;


.redes {
    display: $displayredes;
    flex-direction: $flex-direcredes;
    justify-content: $justiredes;
    padding: $paddingredes;
    font-size: $fontsizeredes;
}

.list-group {
    padding-top: 10%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
.comentarios {
    padding: 5%;
    font-size: 20px;
    margin-left: 45px;
    margin-bottom: 45px;
    display: flex;
}
.carousel-inner {
    width: 50% !important;
    @include block-auto-auto
    }

@mixin flex-row-center-flex-start{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    
}



.tarjetas1 {
    @include flex-row-center-flex-start;
    margin-bottom: 20px;
}
.tarjetas2 {
    @include flex-row-center-flex-start
}

.googlemaps {
    @include block-auto-auto;

}

.botonesredes {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons {
    min-width: 700px;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}
.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #dde203;
    color: #000000;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out
}
.buttons a:hover {
    transform: scale(1.2);
}







@media screen and (max-width: 768px) {

    @mixin center-center{
        align-items: center;
        justify-content: center;
    }

    .imguno {
        padding: 5px 250px;
        @include center-center
    }
    .imgdos {
        padding: 5px 200px;
        @include center-center
      }
    
      
    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 60px;
      }

    @mixin flex-row-reverse-center-wrap-space-between-space-evenly{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-evenly
    }



      .tarjetas1 {
        margin-bottom: 20px;
        padding-right: 40px;
        @include flex-row-reverse-center-wrap-space-between-space-evenly
      }
      .tarjetas2 {
        margin-bottom: 20px;
        padding-right: 40px;
        @include flex-row-reverse-center-wrap-space-between-space-evenly
       
      }
}

@media screen and (max-width: 425px) {

    @mixin flex-column-center-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar {
        @include flex-column-center-center;
        font-size: 20px;
    }


    $fontsizep425:20px;
    $paddingp425:20px;
    $marginp425:20px;

    p {
        font-size: $fontsizep425;
        padding: $paddingp425;
        margin: $marginp425;
    }

    $paddingimg: 5px 70px;
    @mixin center-center{
        align-items: center;
        justify-content: center;
    }

    .imguno {
        padding: $paddingimg;
        @include center-center
    }
    .imgdos {
        padding: $paddingimg;
        @include center-center
    }

    .pie-pagina {
        display: grid;
        text-align: center;
        font-size: 20px;
        justify-content: center;
    }

    .infocontactos {
        font-size: $fontsizeredes;
    }

    $paddingcoment:4%;
    $fontsizecoment:15px;
    $marginleftcoment:45px;
    $marginbottomcoment:45px;

    .comentarios {
        padding: $paddingcoment;
        font-size: $fontsizecoment;
        margin-left: $marginleftcoment;
        margin-bottom: $marginbottomcoment;
    }


@mixin flex-baseline-center-row-reverse{
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: row-reverse;
}

.tarjetas1 {
    padding-right: 40px;
   @include flex-baseline-center-row-reverse
  }
.tarjetas2 {
    padding-right: 40px;
    @include flex-baseline-center-row-reverse
}
.imgprincipal2 {
    width: 400px;
    height: 400px;
}
.buttons {
    min-width: 400px;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}
.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #dde203;
    color: #000000;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out
}
.comentarios {
    padding: 3%;
    margin: auto;
    font-size: 13px;
}





















    









}